
.links line {
    stroke: darkred;
    stroke-width: 3px;
    stroke-opacity: 0.6;
}

.nodes ellipse {
    stroke-width: 1.5px;
    stroke: darkgray;

}

.nodes text {
    /*fill: black;*/
    font-family: Helvetica;
    font-size: 10pt;
}

.nodeId {
    pointer-events: none;
    /*font-size: smaller;*/
}


.nodeCallsign {
    font-size: smaller;
}

.bubble-container {
    display: flex;
    background-color: DodgerBlue;
}
.bubbleNodeId{

}
.bubbleLineInfo{
    font-weight: bold;
}
.bubbleLineCallsign{

}

.bubble-container > div {
    background-color: #f1f1f1;
    margin: 3px;
    padding: 20px;
}

.bubbleAllstar {
    fill: white;
}

.bubbleOurNode {
    fill: #7fc2de;
}

.bubbleEcholink {
    fill: #ffbecc;
}