<!-- https://www.playframework.com/documentation/latest/SettingsLogger -->
<configuration>

    <conversionRule conversionWord="coloredLevel" converterClass="play.api.libs.logback.ColoredLevel"/>

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>${application.home:-.}/logs/application.log</file>
        <encoder>
            <charset>UTF-8</charset>
            <pattern>
                %d{yyyy-MM-dd HH:mm:ss} %highlight(%-5level) %cyan(%logger{36}) %magenta(%X{akkaSource}) %msg%n
            </pattern>
        </encoder>
    </appender>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <charset>UTF-8</charset>
            <pattern>
                %d{yyyy-MM-dd HH:mm:ss} %highlight(%-5level) %cyan(%logger{36}) %magenta(%X{akkaSource}) %msg%n
            </pattern>
        </encoder>
    </appender>

    <appender name="ASYNCFILE" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="FILE"/>
    </appender>

    <appender name="ASYNCSTDOUT" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="STDOUT"/>
    </appender>



    <logger name="actors" level="INFO" />
    <logger name="akka" level="INFO" />
    <logger name="application" level="INFO"/>
    <logger name="controllers.CandidatesController" level="INFO"/>
    <logger name="controllers.CommonController" level="INFO"/>
    <logger name="controllers.CourtesyToneController" level="INFO"/>
    <logger name="controllers.EditController" level="INFO"/>
    <logger name="controllers.IOController" level="INFO"/>
    <logger name="controllers.LogicAlarmEditorController" level="INFO"/>
    <logger name="controllers.MacroController" level="INFO"/>
    <logger name="controllers.MacroEditorController" level="INFO"/>
    <logger name="controllers.ScheduleController" level="INFO"/>
    <logger name="net.wa9nnmacroNn.rc210.data.datastore.DataStore" level="INFO"/>
    <logger name="net.wa9nnn.rc210.command.CommandParser" level="INFO"/>
    <logger name="net.wa9nnn.rc210.command.CommandSpecBase" level="INFO"/>
    <logger name="net.wa9nnn.rc210.data.Rc210Data" level="INFO"/>
    <logger name="net.wa9nnn.rc210.data.courtesy.Segment" level="INFO"/>
    <logger name="net.wa9nnn.rc210.data.datastore.MemoryFileLoader" level="INFO"/>
    <logger name="net.wa9nnn.rc210.data.field.DtmfExtractor" level="INFO"/>
    <logger name="net.wa9nnn.rc210.data.field.FieldDtmf" level="INFO"/>
    <logger name="net.wa9nnn.rc210.data.macros.MacroNode" level="INFO"/>
    <logger name="net.wa9nnn.rc210.data.named.NamedManager" level="INFO"/>
    <logger name="net.wa9nnn.rc210.data.schedules.ScheduleNode" level="INFO"/>
    <logger name="net.wa9nnn.rc210.security.authentication.SessionStore" level="INFO"/>
    <logger name="net.wa9nnn.rc210.security.authorzation.AuthFilter" level="INFO"/>
    <logger name="net.wa9nnn.rc210.serial.DataCollector" level="INFO"/>
    <logger name="net.wa9nnn.rc210.serial.RC210IO" level="INFO"/>
    <logger name="net.wa9nnn.rc210.serial.Rc210.RcOperationImpl" level="INFO"/>
    <logger name="net.wa9nnn.rc210.serial.comm.RcSerialPort" level="INFO"/>
    <logger name="net.wa9nnn.rc210.serial.comm.RealStreamBased" level="TRACE"/>
    <logger name="net.wa9nnn.rc210.ui.SimpleValuesHandler" level="INFO"/>
    <logger name="net.wa9nnn.rc210.serial.comm.RcResponse" level="TRACE"/>
    <logger name="play" level="INFO" />
    <logger name="play" level="INFO"/>

    <root level="INFO">
        <appender-ref ref="ASYNCFILE"/>
        <appender-ref ref="ASYNCSTDOUT"/>
    </root>

</configuration>
