@import net.wa9nnn.rc210.data.field.FieldEntry
@import views.html.helper._
@import net.wa9nnn.rc210.data.field.FieldEditor
@(fieldEntries: Seq[FieldEntry])(implicit fieldEditor: FieldEditor)

@main("Fields") {

    @form(action = routes.FieldEditorController.save()) {
        @for(fieldEntry <- fieldEntries) {
            <div class="card" style="width: 18rem;">
@*                <img src="..." class="card-img-top" alt="...">*@
                <div class="card-body">
                    <h5 class="card-title">@fieldEntry.fieldKey.fieldName</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    @Html(fieldEditor(fieldEntry))

                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>

        }
    }
    <button type="submit" class="btn btn-primary">Save</button>
}
