@import com.wa9nnn.util.tableui.Table
@import com.wa9nnn.util.tableui.html.renderTable
@import net.wa9nnn.rc210.ui.Tabs
@import views.html.helper.form
@import net.wa9nnn.rc210.data.clock.Clock
@(clock: Clock)

@tabbedmain(Tabs.clockTab) {
    @defining(clock.key) { key =>
        <div class="container">
            @form(action = routes.ClockController.index) {
                <table class="table table-bordered table-sm"">
                    <tr>
                        <td class="text-end"">Say 24 Hour</td>
                        <td>
                            <input type="checkbox" name="say24Hours" id="say24Hours" class="" checked >
                        </td>
                    </tr>
                    <tr>
                        <td class="text-end"">Enable DST</td>
                        <td>
                            <input type="checkbox" name="enableDST" id="enableDST" class="">
                        </td>
                    </tr>
                    <tr>
                        <td class="text-end"">DST Schedule</td>
                        <td>
                            <table>
                                <tr>
                                    <td>Starts on the </td>
                                    <td>@Html(Clock.ocurrenceSelect.toHtml(clock.startDST.occurance)(key))</td>
                                    <td rowspan="2">  Sunday of</td>
                                    <td>@Html(Clock.monthOfYearDSTSelect.toHtml(clock.startDST.monthOfYearDST)(key))</td>
                                    <td rowspan="2">
                                        at
                                    </td>
                                    <td rowspan="2">
                                        <input type="number" name="hourDST" id="hourDST" min="0" max="23" class="form-control" value="@clock.hourDST" >
                                    </td>
                                    <td rowspan="2">
                                        Hours
                                    </td>
                                </tr>
                                <tr>
                                    <td>Ends on the </td>
                                    <td>@Html(Clock.ocurrenceSelect.toHtml(clock.endDST.occurance)(key))</td>
                                    <td>@Html(Clock.monthOfYearDSTSelect.toHtml(clock.endDST.monthOfYearDST)(key))</td>
                                </tr>
                            </table>

                        </td>
                    </tr>
                </table>

            </div>
        <input type="submit" class="btn btn-primary" name="save" value="Save">
    }

    }
}
