@import views.html.helper._
@import net.wa9nnn.rc210.ui.Tabs

@import net.wa9nnn.rc210.data.field.FieldEntry
@import net.wa9nnn.rc210.ui.FormField
@import net.wa9nnn.rc210.KeyMetadata
@import com.wa9nnn.wa9nnnutil.tableui.Table
@import com.wa9nnn.wa9nnnutil.tableui.html.renderTable
@import net.wa9nnn.rc210.Key
@(table:Table)(implicit request: RequestHeader, messagesProvider: MessagesProvider)

@form(action = routes.EditController.save()) {
    @fieldKeyStuff(Key.commonkey))
    @renderTable(table)
    @submitButton()
}
