@import net.wa9nnn.rc210.FieldKey
@import net.wa9nnn.rc210.serial.CommandSendRequest
@import net.wa9nnn.rc210.serial.SendField
@(commands: Seq[String], maybeFieldKey: Option[FieldKey] = None)

<div>
    <ul class="list-unstyled">
        <a>@for(command <- commands) {
            <li>@command</li>
        }
        </a>
    </ul>
    @for(fieldKey <- maybeFieldKey) {
        <a href="@routes.CandidatesController.ws(CommandSendRequest(SendField.CandidatesOnly, maybeFieldKey))" title="Send to RC-210">
        <i class="bi bi-send"></i>
        </a>
        }
</div>
