@import com.wa9nnn.util.tableui.Table
@import com.wa9nnn.util.tableui.html.renderTable
@import net.wa9nnn.rc210.ui.Tabs
@import play.filters.csrf.CSRF
@()(implicit request: RequestHeader)
    @tabbedmain(Tabs.rc210Tab) {
        <script>
                const url = '@routes.CandidateController.ws.webSocketURL()';

                webSocket = new WebSocket(url);
                webSocket.onmessage = (event) => {
                    const data = event.data;
                    console.log(`data: ${data}`);
                    // const msg = JSON.parse(data);
                    // console.log(`json msg: ${msg}`);
                };
                webSocket.onopen = (event) => {
                    console.log("websocket onopen")
                    webSocket.send("start upload all")
                }
                webSocket.onclose = (event) => {
                    console.log("websocket closed")
                }

        </script>

        todo handle websocket messages.

    }