@import com.wa9nnn.util.tableui.Table
@import com.wa9nnn.util.tableui.html.renderTable
@import net.wa9nnn.rc210.ui.Tabs
@import play.filters.csrf.CSRF
@()(implicit request: RequestHeader)
    @tabbedmain(Tabs.rc210Tab) {
        <script>
                const url = '@routes.CandidateController.ws.webSocketURL()';

                webSocket = new WebSocket(url);
                webSocket.onmessage = (event) => {
                    const data = event.data;
                    if (data.startsWith("Kinder"))
                        window.location.href = '@routes.CandidateController.lastUpload()';
                    else {
                        const $progress = $('.progress-bar');
                        $progress.css("width", data + "%");
                        $progress.text(data)

                        console.log(`data: ${data}`);
                        // const msg = JSON.parse(data);
                        // console.log(`json msg: ${msg}`);
                    }
                };
                webSocket.onopen = (event) => {
                    console.log("websocket onopen")
                    webSocket.send("start upload all")
                }
                webSocket.onclose = (event) => {
                    console.log("websocket closed")
                }

        </script>
        <div class="container">
                <!-- Progress bar HTML -->
            <div class="progress">
                <div class="progress-bar progress-bar-striped" style="min-width: 0px;"></div>
            </div>
            <div>
                <p id="command"></p>
                <p id="response"></p>
            </div>
        </div>

    }