@import com.wa9nnn.util.tableui.Table
@import com.wa9nnn.util.tableui.html.renderTable
@import views.html.helper._

@import net.wa9nnn.rc210.ui.Tabs
@import com.wa9nnn.util.tableui.html.renderTableBodyRows
@(table: Table)

@tabbedmain(Tabs.ctTab) {

    @form(action = routes.LogicAlarmEditorController.save()) {
        <input type="submit" name="save" value="Save">
        <table class="headeredTable">
            <thead>
                <tr>
                    <th colspan="9" >Coutrtesy Tones)</th>
                </tr>
                <tr>
                    <th rowspan="2">Name</th>
                    <th colspan="2">Segment 1</th>
                    <th colspan="2">Segment 2</th>
                    <th colspan="2">Segment 3</th>
                    <th colspan="2">Segment 4</th>
                </tr>
                <tr>
                    <th title="From loss of COS.">Delay</th>
                    <th>Duration/Tones</th>
                    <th title="to Segment 2">Delay</th>
                    <th>Duration/Tones</th>
                    <th title="to Segment 3">Delay</th>
                    <th>Duration/Tones</th>
                    <th title="to Segment 4">Delay</th>
                    <th>Duration/Tones</th>
                </tr>
            </thead>
            @renderTableBodyRows(table.rows)
        </table>
        <input type="submit" name="save" value="Save">
    }
}
