@import net.wa9nnn.rc210.data.courtesy.CourtesyToneNode
@import net.wa9nnn.rc210.ui.Tabs
@import net.wa9nnn.rc210.KeyKind
@import net.wa9nnn.rc210.ui.ButtonCell
@(courtesyTones: Seq[CourtesyToneNode])

<div>
    <table class="headeredTable">
        @defining("<th>Duration<br>Tone1<br>Tone2</th>") { DTT =>
            <thead>
                <tr>
                    <th colspan="10">Courtesy Tones (@courtesyTones.length)</th>
                </tr>

                <tr>
                    <th rowspan="2"></th>
                    <th rowspan="2">Name</th>
                    <th colspan="2">Segment 1</th>
                    <th colspan="2">Segment 2</th>
                    <th colspan="2">Segment 3</th>
                    <th colspan="2">Segment 4</th>
                </tr>
                <tr>
                    <th title="From loss of COS.">Delay</th>
                    @Html(DTT)
                    <th title="to Segment 2">Delay</th>
                    @Html(DTT)
                    <th title="to Segment 3">Delay</th>
                    @Html(DTT)
                    <th title="to Segment 4">Delay</th>
                    <th>Duration/Tones</th>
                </tr>
            </thead>

        }

            <tbody>
            @for(courtesyTone <- courtesyTones) {
                <tr>
                    <td rowspan="3">@ButtonCell.editHtml(courtesyTone.fieldKey)</td>
                    <td rowspan="3"> @courtesyTone.key.keyWithName</td>
                    @for(segment <- 0 to 3) {
                        <td rowspan="3">@courtesyTone.segments(segment).delayMs</td>
                        <td>@courtesyTone.segments(segment).durationMs</td>
                    }
                </tr>
                @for(toneNo <- 1 to 2) {
                    <tr> @for(segment <- 0 to 3) {
                        <td>@courtesyTone.segments(segment).tone(toneNo)</td>
                    }
                    </tr>
                }
            }
    </tbody>
    </table>
</div>
