@import net.wa9nnn.rc210.ui.MyHelpers._
@import net.wa9nnn.rc210.Key
@import net.wa9nnn.rc210.data.courtesy.CourtesyTone
@import net.wa9nnn.rc210.NamedKey
@import net.wa9nnn.rc210.ui.Tabs
@import views.html.helper.*
@import views.html.ct.delay
@import views.html.ct.duration
@import views.html.ct.tone
@( namedKey: NamedKey)(implicit f: Form[CourtesyTone], request: RequestHeader, messagesProvider: MessagesProvider)

    @tabbedmain(Tabs.ctTab) {
        <div>
            <form action="@routes.CourtesyToneController.save()" method="post">
                @inputText(f("key"), Symbol("type") -> "hidden")

                <table class="headeredTable">
                    @defining("<th>Duration<br>Tone1<br>Tone2</th>") { DTT =>
                        <thead>
                            <tr>
                                <th colspan="9">Courtesy Tones</th>
                            </tr>

                            <tr>
                                <th colspan="2">Segment 1</th>
                                <th colspan="2">Segment 2</th>
                                <th colspan="2">Segment 3</th>
                                <th colspan="2">Segment 4</th>
                            </tr>
                            <tr>
                                <th title="From loss of COS.">Delay</th>
                                @Html(DTT)
                                <th title="to Segment 2">Delay</th>
                                @Html(DTT)
                                <th title="to Segment 3">Delay</th>
                                @Html(DTT)
                                <th title="to Segment 4">Delay</th>
                                <th>Duration/Tones</th>
                            </tr>
                        </thead>

                    }
                    <tbody>
                        @nameEdit(namedKey)
                        <tr>
                        @for(segment <- 0 to 3) {
                            <td rowspan="3">@delay(segment)</td>
                            <td>@duration(segment)</td>
                        }
                        </tr>
                        @for(toneNo <- 1 to 2) {
                            <tr> @for(segment <- 0 to 3) {
                                <td>@tone(segment, toneNo)</td>
                            }
                            </tr>
                        }
                    </tbody>
                </table>
                @submitButton()
            </form>
        </div>
    }
