@import views.html.helper.form
@import net.wa9nnn.rc210.ui.Tabs
@import net.wa9nnn.rc210.serial.comm.RcSerialPort
@(serialPort:RcSerialPort)
    @tabbedmain(Tabs.rc210Tab) {
        @form(action = routes.DownloadController.startDownload()) {
            <table class="table table-bordered w-auto">
                <thead class="table-primary">
                    <tr>
                        <th colspan="2">Download From RC210</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>ComPort:</td>
                        <td>@serialPort</td>
                    </tr>
                    <tr>
                        <td>Comment:</td>
                        <td><input name="comment"></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>@submitButton()</td>
                    </tr>
                </tbody>
            </table>
        }
    }