@import views.html.helper.form
@import net.wa9nnn.rc210.ui.Tabs
@import com.fazecast.jSerialComm.SerialPort
@(selectedSerialPort: String)
@form(action = routes.DownloadController.startDownload()) {
    <table class="headeredTable">
        <thead>
            <tr>
                <th colspan="2">Download From RC210</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Serial Port:</td>
                <td>@selectedSerialPort</td>
            </tr>
            <tr>
                <td>Comment:</td>
                <td><input name="comment"></td>
            </tr>
            <tr>
                <td></td>
                <td>@submitButton()</td>
            </tr>
        </tbody>
    </table>
}