@import net.wa9nnn.rc210.data.field.FieldEntry
@import net.wa9nnn.rc210.data.named.{NamedKey, NamedSource}
@import net.wa9nnn.rc210.key.KeyKindEnum.KeyKind
@import net.wa9nnn.rc210.data.functions.FunctionsProvider
@(keyKind: KeyKind, keys: Seq[NamedKey], fieldEntries: Seq[FieldEntry])(implicit namedSource: NamedSource, functionsProvider: FunctionsProvider)
@tabbedmain(keyKind) {
    <div class="container-fluid">
        <div class="row">
            <div class="col col-md-auto ">
            @if(keyKind.maxN != 1) {
                <fieldset>
                    <legend>Keys</legend>
                    <div class="col">
                    @for(namedKey <- keys) {
                        <a href='@routes.EditorController.edit(keyKind.prettyName, namedKey.key.toString)'>@namedKey.key.number @namedKey.name</a>
                        <br/>
                    }
                    </div>
                </fieldset>
            }
            </div>
            <div class="fieldEditor col border border-primary">
                <fieldset>
                    <legend>Fields</legend>

                    @if(fieldEntries.length > 1) {
                        <table class="table table-bordered ">
                            <thead class="table-dark">
                                <tr>
                                    <td>Field</td>
                                    <td>Value</td>
                                    <td>Prompt</td>
                                </tr>
                            </thead>
                            @for(fieldEntry <- fieldEntries) {
                                <tr>
                                    <td class="fieldLabel" >@fieldEntry.fieldKey.fieldName</td>
                                    <td>@Html(fieldEntry.toHtml)</td>
                                    <td class="fieldPrompt">fieldEntry.prompt</td>

                                </tr>
                            }
                        </table>
                    } else {
                        @Html(fieldEntries.headOption.map(_.toHtml).getOrElse(""))
                    }
                </fieldset>
            </div>
            <div class=" col border border-primary">
                <fieldset>
                    <legend>Changes</legend>
                </fieldset>
            </div>
        </div>
    </div>
}