@import net.wa9nnn.rc210.key.KeyKindEnum.KeyKind
@import net.wa9nnn.rc210.data.field.FieldEntry
@import net.wa9nnn.rc210.data.named.NamedKey
@import net.wa9nnn.rc210.key.CommonKey
@import net.wa9nnn.rc210.data.named.NamedSource
@(keyKind: KeyKind, keys: Seq[NamedKey], fieldEntries: Seq[FieldEntry])(implicit namedSource: NamedSource)
@tabbedmain("") {
    @if(keyKind.maxN != 1) {
        <div class="row">
            <div class="numbers col">
            @for(namedKey <- keys) {
                <div class="row">
                    <div class="col">
                        <a href='@routes.EditorController.edit(keyKind.prettyName, namedKey.key.toString)'>@namedKey.key.number
                            : @namedKey.name</a>
                    </div>
                </div>
            }
            </div>
            }
    <div class="fieldEditor col">
        <table class="table-bordered">
        @for(fieldEntry <- fieldEntries) {
            <tr>
                <td>@fieldEntry.fieldKey.fieldName</td>
                <td>@Html(fieldEntry.fieldValue.contents.toHtmlField(fieldEntry.fieldKey, fieldEntry.fieldMetadata.uiInfo).toString())</td>
                <td>@fieldEntry.fieldMetadata.uiInfo.prompt</td>

            </tr>
        }
        </table>
    </div>
    <div class="changes col">
        <p>changes</p>
    </div>
</div>
}