@import net.wa9nnn.rc210.data.field.{FieldEditor, FieldEntry}
@import net.wa9nnn.rc210.key.KeyKindEnum.KeyKind
@import views.html.helper._
@(keyKind:KeyKind, fieldEntries: Seq[FieldEntry])(implicit fieldEditor: FieldEditor)

@main("Fields") {
@*//todo allow changing keykind*@
    <h1>@keyKind.prettyName</h1>
    @form(action = routes.FieldEditorController.save()) {
        @for(fieldEntry <- fieldEntries) {
            <div>
            @defining(fieldEntry.fieldKey.param) { param =>
                <label for="@param" class="form-label">@fieldEntry.fieldKey.fieldName</label>
            @Html(fieldEditor(fieldEntry))
            </div>

        }
        }
        <button type="submit" class="btn btn-primary">Save</button>
    }
}
