@import views.html.helper._
@import net.wa9nnn.rc210.data.field.FieldEntry
@(fieldEntries: Seq[FieldEntry])

    @main("Fields") {

        @form(action = routes.FieldEditorController.save()) {
            @for(fieldEntry <- fieldEntries) {
                <div class="mb-3">
                @defining(fieldEntry.fieldKey.param) { param =>
                    <label for="@param" class="form-label">@fieldEntry.fieldKey.prettyName</label>
                    <input name="@param" id="@param" value="@fieldEntry.fieldValue.current" class="form-control @if(fieldEntry.fieldValue.dirty){ dirtyValue }">
                }
                </div>

            }
            <button type="submit">Save</button>
        }
    }

