@import net.wa9nnn.rc210.data.field.SelectOption
@import net.wa9nnn.rc210.data.field.FieldEntry
@(fieldEntry: FieldEntry)

@*val value1: FieldContents = fieldEntry.fieldValue*@
@*val options: Seq[SelectOption] = fieldEntry.fieldDefinition.uiInfo.options()*@
@*paramId = fieldEntry.param,*@
@*options = fieldEntry.fieldDefinition.uiInfo.options()).toString()*@

    @defining(fieldEntry.param) { paramid =>
        <div class="fieldNumber">
            <select name="@paramid"  class="form-select" aria-label="Default select example" title="@fieldEntry.prompt">
            @for(opt <- fieldEntry.fieldDefinition.uiInfo.options()) {
                @Html(opt.html)
            }
            </select>
        </div>
    }
