@import net.wa9nnn.rc210.data.field.FieldEntry
@import net.wa9nnn.rc210.data.named.NamedManager
@(fieldEntry: FieldEntry)(implicit namedManager: NamedManager)
@(fieldEntry.fieldMetadata.uiInfo.uiRender match {
    case net.wa9nnn.rc210.data.field.UiRender.checkbox => {
        views.html.fieldCheckbox(fieldEntry)
    }
    case net.wa9nnn.rc210.data.field.UiRender.number => {
        views.html.fieldNumber(fieldEntry)
    }

    case net.wa9nnn.rc210.data.field.UiRender.select => {
        views.html.fieldSelect(fieldEntry)
    }
    case net.wa9nnn.rc210.data.field.UiRender.dtmfKeys => {
        "dtmf"
    }
    case net.wa9nnn.rc210.data.field.UiRender.twoStrings => {
        "2strings"
    }
}
        )