@import net.wa9nnn.rc210.data.datastore.FlowData
@import net.wa9nnn.rc210.ui.Tabs.noTab
@import com.wa9nnn.wa9nnnutil.tableui.html.renderTable
@import net.wa9nnn.rc210.data.TriggerNode
@(flowData: FlowData)
@tabbedmain(noTab) {
    <div class="w3-cell-row">
        <div class="w3-container w3-cell">
            <fieldset>
                <legend>Triggers</legend>
                @renderTable(flowData.triggersTable)
            </fieldset>
        </div>
        <div class="w3-container w3-cell">
            <fieldset>
                <legend>Macro</legend>
                @renderTable(flowData.macroSection)
            </fieldset>
        </div>
        <div class="w3-container w3-cell">
            <fieldset>
                <legend>Functions</legend>
                @renderTable(flowData.functionsTable)
            </fieldset>
        </div>
    </div>
}