@*Builds The <td> contents that will go into left side of a Macro flow section.*@
@import net.wa9nnn.rc210.data.functions.FunctionsProvider
@import net.wa9nnn.rc210.data.Rc210Data
@import net.wa9nnn.rc210.data.named.NamedManager
@import net.wa9nnn.rc210.key.MacroKey
@(macroKey:MacroKey)(implicit namedManager: NamedManager, functionsProvider: FunctionsProvider, rc210Data: Rc210Data)
    <div class="row">
        <div class="col">

        </div>
        <div class="col">
            @macroKey.toCell
        </div>
    </div>


