@import com.wa9nnn.util.tableui.html.renderTableBodyRows
@import net.wa9nnn.rc210.data.functions.FunctionsProvider
@import net.wa9nnn.rc210.data.macros.{MacroBlock, MacroNode}
@import net.wa9nnn.rc210.data.named.NamedManager
@(macroNodes: Seq[MacroNode])(implicit namedManager: NamedManager, functionsProvider: FunctionsProvider)

@main("RCP Dat") {
    <h1>Flow</h1>

    <table class="flowTable">
        <thead>
            <tr>
                <td>Macro</td>
                <td >Trigger</td>
                <td colspan="2">Functions</td>
            </tr>
        </thead>
        <tbody>
        @for(macroNode <- macroNodes) {
            @renderTableBodyRows(MacroBlock(macroNode))
        }
        </tbody>
    </table>
}