@import com.wa9nnn.util.tableui.Table
@()

    @main("RCP Dat") {
        <h1>Default Landing Page</h1>
    <ul>
        <li><a href="/selectField">Select Field</a> </li>
        <li><a href="/misc">Edit Misc Fields</a> </li>
        <li><a href="/flow">Process Flow</a> </li>
        <li><a href="/mappedValues">Mapped Values</a> </li>
        <li><a href="/macros">Macros</a> </li>
        <li><a href="/messageMacros">Message Macros</a> </li>
        <li><a href="/schedules">Schedules</a> </li>
        <li><a href="/functions">Functions</a> </li>
        <li><a href="/vocabulary">Vocabulary</a> </li>

        <li><a href="/downloadjson">Download JSON</a> </li>
    </ul>

    }
