@import com.wa9nnn.util.tableui.Table
@import com.wa9nnn.util.tableui.html.renderTable
@import net.wa9nnn.rc210.ui.Tabs
@import com.wa9nnn.util.TimeConverters
@(table: Table, maybeLastUpload: Option[LastUpload])

    @tabbedmain(Tabs.noTab) {
        @for(lastUpload <- maybeLastUpload) {
            <table>
                <tr>
                    <td>When:</td>
                    <td>@TimeConverters.local(lastUpload.start)</td>
                </tr>
                <tr>
                    <td>Took:</td>
                    <td>@TimeConverters.durationToString(lastUpload.duration)</td>
                </tr>
                <tr>
                    <td>Commands Sent:</td>
                    <td>@lastUpload.transactions.length</td>
                </tr>
                @if(lastUpload.successCount > 0) {
                    <tr>
                        <td>Success:</td>
                        <td>@lastUpload.successCount</td>
                    </tr>
                }
                @if(lastUpload.failCount > 0) {
                    <tr>
                        <td>Failures:</td>
                        <td>@lastUpload.failCount</td>
                    </tr>
                }
            </table>
        }
        @renderTable(table)
    }
