@import net.wa9nnn.rc210.data.logicAlarm.LogicAlarm
@import net.wa9nnn.rc210.ui.Tabs
@import net.wa9nnn.rc210.util.MacroSelect
@import views.html.helper._
@import net.wa9nnn.rc210.key.LogicAlarmKey
@(logicAlarm: LogicAlarm)(implicit messages: MessagesProvider)
@*    @implicitField = @{*@
@*        FieldConstructor(views.html.rc2input.f)*@
@*    }*@

    @tabbedmain(Tabs.logicAlarmTab) {
        <div class="container">
        @form(action = routes.LogicAlarmEditorController.save()) {
            <input type="hidden" name="key" value="@logicAlarm.key">
            <table>
                <tr>
                    <td>
                        Enable
                    </td>
                    <td>@input.checkBox("enable", logicAlarm.enable)
                    </td>

                </tr>
                <tr>
                    <td>
                        Low Macro
                    </td>
                    <td>@helper.select(logicForm("lowMacro"), MacroSelect.options)
                    </td>
                </tr>
                <tr>
                    <td>
                        High Macro
                    </td>
                    <td>@helper.select(logicForm("highMacro"), MacroSelect.options)
                    </td>
                </tr>


            </table>
            @submitButton()

        </div>
    }
    }

