@import net.wa9nnn.rc210.security.authentication.Credentials
@(credentialsForm: Form[Credentials], loginInfo: String, err: Option[String] = None)(implicit messagesProvider: MessagesProvider)

<head>
    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="@routes.Assets.versioned("javascripts/main.js")" type="text/javascript"></script>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>

<body>
    <header class="w3-container w3-teal">
        <h1>@loginInfo</h1>
    </header>

    <form method="post" action="@routes.LoginController.doLogin()">

        @helper.inputText(credentialsForm("callsign"), Symbol("autocomplete") -> "off", Symbol("class") -> "callsign")
        @helper.inputPassword(credentialsForm("password"))

        <button type="submit" class="w3-button w3-section w3-teal w3-ripple"">

        @if(err.isDefined) {
            <p class="sadMessage">err.get)</p>
        }
    </form>
</body>