@import net.wa9nnn.rc210.ui.Tabs
@import net.wa9nnn.rc210.data.logicAlarm.LogicAlarm
@(logicAlarms: Seq[LogicAlarm])(implicit request: RequestHeader, messagesProvider: MessagesProvider)

    @tabbedmain(Tabs.logicAlarmTab) {
        <table class="table table-bordered table-sm  w-auto rc210-table">
            <thead>
                <tr>
                    <th></th>
                    <th>Logic Alarm</th>
                    <th>Enable</th>
                    <th>Low Macro</th>
                    <th>High Macro</th>
                </tr>
            </thead>
            <tbody>
            @for(logicAlarm <- logicAlarms) {
                <tr>
                    <td>
                    @editButton(routes.LogicAlarmEditorController.edit(logicAlarm.key).url)
                    </td>
                    <td>
                    @logicAlarm.key.keyWithName
                    </td>
                    <td>
                    @logicAlarm.enable
                    </td>
                    <td>
                    @logicAlarm.lowMacro
                    </td>
                    <td>
                    @logicAlarm.highMacro
                    </td>
                </tr>
            }
            </tbody>
        </table>

    }
