@import net.wa9nnn.rc210.NamedKey
@import net.wa9nnn.rc210.data.field.LogicAlarmNode
@import net.wa9nnn.rc210.ui.MyHelpers.*
@import net.wa9nnn.rc210.ui.{MacroSelect, Tabs}
@import play.api.mvc.RequestHeader
@import views.html.helper.{checkbox, *}
@import net.wa9nnn.rc210.Key
@import net.wa9nnn.rc210.FieldKey
@import net.wa9nnn.rc210.KeyKind
@(logicAlarmForm: Form[LogicAlarmNode], fieldKey: FieldKey)(implicit request: RequestHeader, messagesProvider: MessagesProvider) extends
<div class="container">
    @form(routes.EditController.save()) {

        @keysAndName(fieldKey)
        <table>
            <tr>
                <td>
                    Enable
                </td>
                <td>@checkbox(logicAlarmForm("enable"))
                </td>
            </tr>
            <tr>
                <td>
                    Low Macro
                </td>
                <td>
                @select(logicAlarmForm("lowMacro"), MacroSelect.options)
                </td>
            </tr>
            <tr>
                <td>
                    High Macro
                </td>
                <td>
                @select(logicAlarmForm("highMacro"), MacroSelect.options)
                </td>
            </tr>


        </table>
        @submitButton()

    </div>
}

