@import net.wa9nnn.rc210.security.authentication.Login
@import views.html.helper.form
@(loginForm: Form[Login], loginInfo: String, errorMessage: Option[String] = None)(implicit messages: MessagesProvider)
<link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">

@loginInfo
<p>@loginInfo</p>
<h2>Signin</h2>
<form method="post" action="@routes.LoginController.dologin()">
    @helper.inputText(loginForm("callsign"), Symbol("autocomplete") -> "off" ))
    @helper.inputPassword(loginForm("password"))
<input type="submit" class="btn btn-primary" name="save" value="Sign In">
    @if(errorMessage.isDefined) {
        <p class="sadMessage">@Messages(errorMessage.get)</p>
    }
</form>
