@import net.wa9nnn.rc210.NamedKey
@import net.wa9nnn.rc210.data.field.LogicAlarmNode
@import net.wa9nnn.rc210.ui.MyHelpers.*
@import net.wa9nnn.rc210.ui.{MacroSelect, Tabs}
@import play.api.mvc.RequestHeader
@import views.html.helper.{checkbox, *}
@import net.wa9nnn.rc210.Key
@import net.wa9nnn.rc210.FieldKey
@import net.wa9nnn.rc210.KeyKind
@(logicAlarmForm: Form[LogicAlarmNode], fieldKey: FieldKey)(implicit request: RequestHeader, messagesProvider: MessagesProvider) extends
    @tabbedmain(KeyKind.LogicAlarm) {
        <script>
                @*  https://stackoverflow.com/questions/3746678/force-a-checkbox-to-always-submit-even-when-unchecked  "Complete solution" *@
                $(document).on('submit', 'form', function () {
                    $(this).find('input[type=checkbox]').each(function () {
                        var checkbox = $(this);

                        // add a hidden field with the same name before the checkbox with value = 0
                        if (!checkbox.prop('checked')) {
                            checkbox.clone()
                                    .prop('type', 'hidden')
                                    .val("false")
                                    .insertBefore(checkbox);
                        }
                    });
                });
        </script>
        <div class="container">
        @form(routes.EditController.save()) {

            @nameEdit(fieldKey.key)
            <input type="hidden" name="key" value="@fieldKey.key">
            <input type="hidden" name="fieldKey" value="@fieldKey">
            <table>
                <tr>
                    <td>
                        Enable
                    </td>
                    <td>@checkbox(logicAlarmForm("enable"))
                    </td>
                </tr>
                <tr>
                    <td>
                        Low Macro
                    </td>
                    <td>
                    @select(logicAlarmForm("lowMacro"), MacroSelect.options)
                    </td>
                </tr>
                <tr>
                    <td>
                        High Macro
                    </td>
                    <td>
                    @select(logicAlarmForm("highMacro"), MacroSelect.options)
                    </td>
                </tr>


            </table>
            @submitButton()

        </div>
    }
    }

