@import net.wa9nnn.rc210.data.named.NamedSource
@import net.wa9nnn.rc210.key.KeyKindEnum
@import net.wa9nnn.rc210.data.functions.FunctionsProvider
@import net.wa9nnn.rc210.key.FunctionKey
@(editForm: Form[MacroEdit])(implicit namedSource: NamedSource, functionsProvider: FunctionsProvider, messagesProvider: MessagesProvider)
    @tabbedmain(KeyKindEnum.macroKey) {
        <div class="row">
            <div class="col col-md-auto ">
                <div class="row">
                    <h2>Macro</h2>
                    @editForm("schedule.key").value
                    @helper.inputText(editForm("name"))

                </div>
                <h2>DTMF</h2>
                @helper.inputText(editForm("schedule.dtmf"))

            </div>
            <div class="col col-md-auto functionList">
                <h2>Currently assigned functions</h2>
                <table>
                @helper.repeat(editForm("schedule.functions")) { f =>
                    @defining(functionsProvider.apply(FunctionKey(f.value.get.toInt)).get) { function =>
                        <tr>
                        <tr>
                            <td class="text-end">@function.key.number</td>
                            <td class="text-nowrap">@function.description</td>
                        </tr>

                    }
                }
                </table>
            </div>
            <div class="col col-md-auto ">
                <h2>Available Functions</h2>

                <div class="dropdown">
                    <div id="myDropdown" class="dropdown-content show functionList">
                        <input type="text" placeholder="Search.." id="myInput" onkeyup="filterFunction()">
                        <table>
                        @for(function <- functionsProvider.functions) {
                            <tr>
                                <td class="text-end">@function.key.number</td>
                                <td class="text-nowrap">@function.description</td>
                            </tr>
                        }
                        </table>
                    </div>
                </div>


            </div>

        </div>
    }