@import net.wa9nnn.rc210.data.macros.RcMacro
@import net.wa9nnn.rc210.ui.Tabs

@import net.wa9nnn.rc210.data.functions.FunctionsProvider
@(macros: Seq[RcMacro])(implicit functionsProvider: FunctionsProvider)

    @tabbedmain(Tabs.macrosTab) {
        <div class="container">
            <table class="table table-bordered w-auto table-sm">
                <thead class="table-primary">
                    <tr>
                        <th colspan="4">Macros (@macros.length)</th>
                    </tr>
                    <tr>
                        <th>&nbsp;</th>
                        <th title="Number or name">Macro</th>
                        <th title="DTMF that will invoke this macro">DTMF</th>
                        <th title="Functions that will run when this macro is triggered.">Functions</th>
                    </tr>
                </thead>
                @for(macroNode <- macros) {
                    <tr>
                        <td>
                            @editButton(routes.MacroEditorController.edit(macroNode.key).url)
                        </td>
                        <td title="Click edit button to change macro details..">
                        @macroNode.key.keyWithName
                        </td>
                        <td class="text-end">
                        @macroNode.dtmf
                        </td>
                        <td>
                            <ul class="list-unstyled">
                            @for(functionKey <- macroNode.functions) {
                                <li>@functionsProvider(functionKey).map(_.toString).getOrElse("???")</li>
                            }
                            </ul>
                        </td>
                    </tr>
                }
            </table>
        </div>
    }