@import net.wa9nnn.rc210.data.functions.FunctionsProvider
@import net.wa9nnn.rc210.data.named.NamedSource
@import views.html.helper.form
@import net.wa9nnn.rc210.data.macros.MacroNode
@import net.wa9nnn.rc210.key.KeyKind
@import net.wa9nnn.rc210.ui.Tab
@import net.wa9nnn.rc210.ui.Tabs
@(macroNode: MacroNode, name: String)(implicit namedSource: NamedSource, functionsProvider: FunctionsProvider, messagesProvider: MessagesProvider)

@tabbedmain(Tabs.macrosTab) {
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">

    <script src="@routes.Assets.versioned("javascripts/macroNode.js")"></script>


    @form(action = routes.MacroNodeController.save(), Symbol("id") -> "macroNodeForm") {
        <input type="hidden" name="key", value="@macroNode.key">
        <input type="hidden" name="functionIds" id="functionIds">
        <div class="row">
            <div class="col col-md-auto border border-primary">
                <h2>@macroNode.key</h2>
                <div><label for="name">Name: </label>
                    <input id="name" name="name" value="@name">
                </div>

                <div><label for="dtmf">DTMF: </label>
                    <input id="dtmf" name="dtmf" value="@macroNode.dtmf">
                </div>

                <input type="submit" value="Save">
            </div>
            <div class="col col-md-auto border border-primary">
                <h2>Current</h2>

                <table id="currentFunctions" >
                    @for(function <- macroNode.functions) {
                        <tr  class="functionDrop functionDrag currentFunction" data-function="@function.toString">
                            <td class=" text-end">@function.number </td>
                            <td class="text-nowrap">@functionsProvider.apply(function).get.description</td>
                        </tr>
                    }
                    <tr id="droplast" class="functionDrop " >
                        <td colspan="2">--droplast--</td>
                    </tr>

                </table>
                <div class="dropTrash">
                    <i class="bi bi-trash3"></i>
                </div>
            </div>
            <div class="col col-md-auto ">
                <h2>Available Functions</h2>
                <div id="myDropdown" class="dropdown-content show functionList">
                    <input type="text" placeholder="Search.." id="myInput" onkeyup="filterFunction()">
                    <div>
                        <table>
                        @for(function <- functionsProvider.functions) {
                            <tr class="functionSource"  data-function="@function.key.toString">
                                <td class=" text-end">@function.key.number </td>
                                <td class="text-nowrap">@function.description</td>
                            </tr>
                        }
                        </table>
                    </div>
                </div>
            </div>
        </div>
    }
}