@import net.wa9nnn.rc210.data.message.Message
@import net.wa9nnn.rc210.data.vocabulary.Words
@import net.wa9nnn.rc210.ui.Tabs
@import views.html.helper.form
@(message: Message)(implicit messagesProvider: MessagesProvider)

@tabbedmain(Tabs.messagesTab) {
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/dualList.css")">
    dualList.css
    <script src="@routes.Assets.versioned("javascripts/messageEditor.js")"></script>


    @form(action = routes.MessageController.save(), Symbol("id") -> "messageForm") {
        <input type="hidden" name="key" value="@message.key">
        <input type="hidden" name="words" id="words">
        <div class="row">
            <div class="col col-md-auto border border-primary">
                <p class="sectionHeader">@message.key</p>
                <div><label for="name">Name: </label>
                    @message.key.keyWithName
                </div>
                <input class="btn btn-primary" type="submit" value="Save">
                <p class="text-break help">Double click Available Words append to Current Words.<br/>
                    Drag within Current Words to re-arrange. Click to remove.</p>
            </div>
            <div id="dropZone" class="col col-md-auto border border-primary">
                <p class="sectionHeader">Current Words</p>

                <ul id="currentList" class="border border-primary">
                @for(word <- message.toWords) {
                    <li data-wordid="@{word.id}" class="text-nowrap" onclick="remove(this)">@{word.string} (@word.id)</li>
                }
                </ul>
                <div id="maxWordsAlert" class="alert alert-warning" role="alert" style="display: none">
                    Max words in a message is nine!
                </div>
            </div>
            <div class="col col-md-auto ">
                <p class="sectionHeader">Available Words</p>

                <div id="myDropdown" class="dropdown-content show ">
                    <input type="text" placeholder="Search.." id="filter" onkeyup="filterFunction()">
                    <ul id="availableList">
                    @for(word <- Words.words) {
                        <li data-wordid="@word.id" class="text-nowrap wordSource" onclick="remove(this)">@{word.string} (@{word.id})</li>
                    }
                    </ul>
                </div>
            </div>
        </div>
    }

}