@import views.html.helper.form
@import net.wa9nnn.rc210.ui.Tabs
@import net.wa9nnn.rc210.data.vocabulary.Words
@import net.wa9nnn.rc210.data.field.MessageNode
@import net.wa9nnn.rc210.KeyMetadata
@import net.wa9nnn.rc210.FieldKey
@import net.wa9nnn.rc210.data.vocabulary.Word
@(message: MessageNode)

<link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
<link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/contextmenu.css")">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>
<script src="@routes.Assets.versioned("javascripts/macroNode.js")"></script>

    @form(action = routes.EditController.save(), Symbol("id") -> "form") {
        @keysAndName(message.fieldKey)
        <input type="hidden" name="ids" id="ids"> @* this will get set at submit time via javascript. *@
        <div class="row">
            <div class="col col-md-auto border border-primary">
                @submitButton()
                <p>Drag function to reorder. Dbl-click to remove.</p>
            </div>
            <div class="col col-md-auto border border-primary">
                <h2>Current</h2>

                <ul id="currentList" class="border border-primary list-unstyled">

                @for(id <- message.words) {
                    <li
                    class="functionSource selected"
                    data-rcnumber="@id"
                    ondblclick=dblClick(this)>
                    @Word(id).string
                    </li>
                }
                </ul>
                <div id="maxWordsAlert" class="alert alert-warning" role="alert" style="display: none">
                    Max words in a message is nine!
                </div>
            </div>
            <div class="col col-md-auto ">
                <h2>Available Words</h2>
                <div id="myDropdown" class="dropdown-content show functionList">
                    <input type="text" placeholder="Search.." id="filter" onkeyup="filterFunction()">
                    <div>
                        <ul id="availableList" class="list-unstyled">
                        @for(word <- Words.words) {
                            <li
                            class="functionSource"
                            data-rcnumber="@word._1"
                            ondblclick=dblClick(this)>
                            @word.string
                            </li>
                        }
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    }
