@import views.html.helper._
@import views.html.input.selectOptions
@import net.wa9nnn.rc210.data.meter.Meter
@import net.wa9nnn.rc210.data.meter.MeterFaceName
@import net.wa9nnn.rc210.ui.Tabs

@(meter:Meter)
    @* @implicitField = @{*@
    @* FieldConstructor(views.html.rc2input.f)*@
    @* }*@
    @tabbedmain(Tabs.metersTab) {
        @form(action = routes.MeterController.saveMeter()) {
            <input type="hidden" name="key" value="@meter.key">
            <div class="col-">
                <table class="table table-bordered table-sm  w-auto rc210-table">
                    <thead>
                        <tr>
                            <th colspan="2">Meter @meter.key.rc210Value</th>
                        </tr>
                        <tr>
                            <th>Field</th>
                            <th>Value</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Name</td>
                            <td><input name="name" value="@meter.key"></td>
                        </tr>
                        <tr>
                            <td>Face</td>
                            <td>@selectOptions("faceName", meter.meterFaceName, MeterFaceName)</td>
                        </tr>
                        <tr>
                            <td >Low Voltage</td>
                            <td><input value="@meter.low.hundredthVolt"></td>
@*                            <td>@inputText(meterForm("low.hundredthVolt"))</td>*@
                        </tr>
                        <tr>
                            <td >Low Reading</td>
                            <td><input value="@meter.low.reading"></td>
@*                            <td>@inputText(meterForm("low.reading"))</td>*@
                        </tr>
                        <tr>
                            <td >High Voltage</td>
                            <td><input value="@meter.low.hundredthVolt"></td>
@*                            <td>@inputText(meterForm("high.hundredthVolt"))</td>*@
                        </tr>
                        <tr>
                            <td >High Reading</td>
                            <td><input value="@meter.high.reading"></td>
@*                            <td>@inputText(meterForm("high.reading"))</td>*@

                        </tr>
                    </tbody>
                </table>
                @submitButton
            </div>
        }
    }