@import net.wa9nnn.rc210.data.meter.{Meter, MeterFaceName}
@import net.wa9nnn.rc210.ui.Tabs
@import views.html.helper._
@import net.wa9nnn.rc210.key.MeterKey
@(meter:Meter)(implicit messages: MessagesProvider)
    @implicitField = @{
        FieldConstructor(views.html.rc2input.f)
    }
    @tabbedmain(Tabs.metersTab) {
        @form(action = routes.MeterController.saveMeter()) {
            <input type="hidden" name="key" value="@meter.key">
            <div class="col-">
                <table class="table table-bordered table-sm  w-auto rc210-table">
                    <thead>
                        <tr>
                            <th colspan="2">Meter @meter.key.number</th>
                        </tr>
                        <tr>
                            <th>Field</th>
                            <th>Value</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Name</td>
                            <td><input name="name" value="@meterKey.userDefinedName"></td>
                        </tr>
                        <tr>
                            <td>Face</td>
                            <td>@select(meterForm("faceName"), MeterFaceName.values) </td>
                        </tr>
                        <tr>
                            <td >Low Voltage</td>
                            <td>@inputText(meterForm("low.hundredthVolt"))</td>
                        </tr>
                        <tr>
                            <td >Low Reading</td>
                            <td>@inputText(meterForm("low.reading"))</td>
                        </tr>
                        <tr>
                            <td >High Voltage</td>
                            <td>@inputText(meterForm("high.hundredthVolt"))</td>
                        </tr>
                        <tr>
                            <td >High Reading</td>
                            <td>@inputText(meterForm("high.reading"))</td>
                        </tr>
                    </tbody>
                </table>
                @submitButton
            </div>
        }
    }