@import net.wa9nnn.rc210.data.meter.{AlarmType, MeterAlarm}
@import net.wa9nnn.rc210.key.{Key, MeterAlarmKey}
@import net.wa9nnn.rc210.ui.Tabs
@import net.wa9nnn.rc210.util.{MacroSelect, MeterSelect}
@import views.html.helper._
@(meterAlarmKey: MeterAlarmKey, alarmForm: Form[MeterAlarm])(implicit messages: MessagesProvider)
    @implicitField = @{
        FieldConstructor(views.html.rc2input.f)
    }
    @tabbedmain(Tabs.metersTab) {
        @form(action = routes.MeterController.saveAlarm()) {
            <input type="hidden" name="key" value="@meterAlarmKey.toString">
            <div class="col-">
                <table class="table table-bordered table-sm  w-auto rc210-table">
                    <thead>
                        <tr>
                            <th colspan="2">Meter Alarm @meterAlarmKey.number</th>
                        </tr>
                        <tr>
                            <th>Field</th>
                            <th>Value</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Name</td>
                            <td> <input name="name" value="@meterAlarmKey.userDefinedName"></td>
                        </tr>
                        <tr>
                            <td>Meter</td>
                            <td>@select(alarmForm("meter"), MeterSelect.options) </td>
                        </tr>
                        <tr>
                            <td >Alarm Type</td>
                            <td>@select(alarmForm("alarmType"), AlarmType.options)</td>
                        </tr>
                        <tr>
                            <td >trip Point</td>
                            <td>@inputText(alarmForm("tripPoint"))</td>
                        </tr>
                        <tr>
                            <td >Macro</td>
                            <td>@select(alarmForm("macroKey"), MacroSelect.options)</td>
                        </tr>
                    </tbody>
                </table>
                @submitButton()
            </div>
        }
    }