@import net.wa9nnn.rc210.ui.MyHelpers._
@import views.html.helper._
@import net.wa9nnn.rc210.Key
@import net.wa9nnn.rc210.ui.Tabs
@import net.wa9nnn.rc210.NamedKey

@import net.wa9nnn.rc210.ui.FormField
@import net.wa9nnn.rc210.KeyKind
@(rows: Seq[Row])(implicit request: RequestHeader, messagesProvider: MessagesProvider)

@tabbedmain(KeyKind.Port) {
    @form(action = routes.PortsController.save()) {
        @submitButton()
        <table class="table table-bordered table-sm  w-auto rc210-table headeredTable   ">
            <thead class="table-primary">
                <tr>
                    <th>Field</th>
                    @for(key <- Key.portKeys) {
                        <th>@nameEditKey(key)
                        </th>
                    }
                </tr>
            </thead>
            <tbody>
            @for(row <- rows) {
                <tr>
                    <td class ="RowHeader">@row.name</td>
                    @for(cell <- row.cells) {
                        <td>@Html(cell)</td>
                    }
                </tr>
            }
            </tbody>
        </table>
        @submitButton()
    }
}
