@import net.wa9nnn.rc210.ui.MyHelpers._
@import views.html.helper._
@import net.wa9nnn.rc210.Key
@import net.wa9nnn.rc210.ui.Tabs
@import net.wa9nnn.rc210.NamedKey

@import net.wa9nnn.rc210.ui.FormField
@import net.wa9nnn.rc210.KeyMetadata
@import net.wa9nnn.rc210.PortRow
@import com.wa9nnn.wa9nnnutil.tableui.Table
@import com.wa9nnn.wa9nnnutil.tableui.html.renderTable
@import net.wa9nnn.rc210.ui.HiddenFieldKey
@import net.wa9nnn.rc210.KeyMetadata.LogicAlarm
@import net.wa9nnn.rc210.KeyMetadata.Port
@import net.wa9nnn.rc210.KeyIndicator.iKey
@( table:Table)(implicit request: RequestHeader, messagesProvider: MessagesProvider)

    @form(action = routes.EditController.save()) {
        @HiddenFieldKey(Key(Port).withIndicator(iKey)))
        @submitButton()
        @renderTable(table)
        @submitButton()
    }
