@import com.wa9nnn.util.tableui.Table
@import com.wa9nnn.util.tableui.html.renderTable
@@import play.filters.csrf.CSRF
@import java.net.URL

@(url: String, table: Option[Table] = None)(implicit request: RequestHeader)
@tabbedmain(Tabs.rc210Tab) {
    <script>

            webSocket = new WebSocket("@url");
            webSocket.onmessage = (event) => {
                console.log("data" + event.data);
                const progress = JSON.parse(event.data);
                if (!progress.running)
                    window.location.href = '@routes.CandidateController.lastSendAll()';
                else {
                    const $progress = $('.progress-bar');
                    $progress.css("width", progress.percent);
                    $progress.text(progress.percent)
                }
            };
            webSocket.onopen = (event) => {
                console.log("websocket onopen")
            }
            webSocket.onclose = (event) => {
                console.log("websocket closed")
            }

    </script>
    <div class="container">
            <!-- Progress bar HTML -->
        <div class="progress">
            <div class="progress-bar progress-bar-striped" style="min-width: 0px;"></div>
        </div>
        @for(table <- table) {
            <div>
            @renderTable(table)
            </div>
        }
    </div>

}