@import com.wa9nnn.wa9nnnutil.tableui.Table
@import com.wa9nnn.wa9nnnutil.tableui.html.renderTable
@import play.filters.csrf.CSRF
@import java.net.URL
@import net.wa9nnn.rc210.ui.Tabs

@(webSocketUrl: String, table: Table, finishUrl:String)(implicit request: RequestHeader)
@tabbedmain(Tabs.rc210Tab) {
    <script>
            // Use s WebSocket to update the progress bar.
            webSocket = new WebSocket("@webSocketUrl");
            webSocket.onmessage = (event) => {
                console.log("data" + event.data);
                const progress = JSON.parse(event.data);
                if (!progress.running)
                    window.location.href = '@finishUrl';
                else {
                    const $progress = $('.progress-bar');
                    $progress.css("width", progress.percent);
                    $progress.text(progress.percent)
                }
            };
            webSocket.onopen = (event) => {
                console.log("websocket onopen")
            }
            webSocket.onclose = (event) => {
                console.log("websocket closed")
            }

    </script>
    <div class="container">
            <!-- Progress bar HTML -->
        <div class="progress">
            <div class="progress-bar progress-bar-striped" style="min-width: 0px;"></div>
        </div>
        @renderTable(table)
    </div>

}