@import com.wa9nnn.wa9nnnutil.tableui.Table
@import com.wa9nnn.wa9nnnutil.tableui.html.renderTable
@import play.filters.csrf.CSRF
@import java.net.URL
@import net.wa9nnn.rc210.ui.Tabs

@(webSocketUrl: String, requestTable: Table)(implicit request: RequestHeader)
<script>
        // Uses a WebSocket to update the progress bar.
        webSocket = new WebSocket("@webSocketUrl");
        webSocket.onmessage = (event) => {
            console.log("data" + event.data);
            const progress = JSON.parse(event.data);

            if (progress.resultHtml !== "") {
                document.getElementById('result').innerHTML = progress.resultHtml;
                webSocket.close(0, "done")
            } else {
                const $progress = $('.progress-bar');
                $progress.css("width", progress.percent);
                $progress.text(progress.percent);
                $("#duration").text(progress.duration);
                $("#soFar").text(progress.soFar);
            }
        };
        webSocket.onopen = (event) => {
            console.log("websocket onopen")
        }
        webSocket.onclose = (event) => {
            console.log("websocket closed")
        }

</script>


<div class="container">
   @renderTable(requestTable)
</div>
<div class="progress">
    <div class="progress-bar progress-bar-striped" style="min-width: 0px;"></div>
</div>

<div id="result">

</div>
