@import com.wa9nnn.wa9nnnutil.tableui.Table
@import com.wa9nnn.wa9nnnutil.tableui.html.renderTable
@import net.wa9nnn.rc210.ui.Tabs
@import net.wa9nnn.rc210.serial.Rc210
@import scala.util.{Failure, Success}
@(rc210: Rc210)
@tabbedmain(Tabs.rc210Tab) {
    <div class="container">
        <table class="headeredTable">
            <thead>
                <tr>
                    <th colspan="3">Seral Ports</th>
                </tr>
                <tr>
                    <th>Selected</th>
                    <th>Descriptor</th>
                    <th>Friendly</th>
                </tr>
            </thead>
            <tbody>

            @for(serialPort <- rc210.listPorts()) {
                <tr>
                    <td style="text-align: center">
                        <input type="radio"
                        name="selectedPort" @rc210.checkedFlag(serialPort)
                        onclick="window.location.href = '@routes.IOController.select(serialPort.getSystemPortName)'">
                    </td>
                    <td>
                    @serialPort.getSystemPortName
                    </td>
                    <td>
                    @serialPort.getDescriptivePortName
                    </td>
                </tr>

            }
            </tbody>
        </table>
        @for(rcSerialPort <- rc210.rcSerialPortOption){
            @triedString(s"Selected: $rcSerialPort.", rcSerialPort.version)
        }


}