@import net.wa9nnn.rc210.KeyMetadata
@import net.wa9nnn.rc210.data.remotebase.*
@import net.wa9nnn.rc210.ui.MyHelpers.*
@import net.wa9nnn.rc210.ui.Tabs
@import views.html.helper.{FieldConstructor, form, *}
@import views.html.input.selectOptions
@import net.wa9nnn.rc210.Key
@(key:Key, f: Form[RemoteBaseNode])(implicit request: RequestHeader, messagesProvider: MessagesProvider)

@form(routes.EditController.save()) {
    @fieldKeyStuff(key)
    <table >
        <tr>
            <td>Radio:</td>
            <td>@select(f("radio"), Radio.options)</td>
        </tr>
        <tr>
            <td>Yaesu:</td>
            <td>@select(f("yaesu"), Yaesu.options)</td>
        </tr>
        <tr>
            <td>Prefix:</td>
            <td>@inputText(f("prefix"))</td>
        </tr>
    </table>

    <table class="headeredTable">
        <thead>
            <tr>
                <th>Number</th>
                <th>Frequency</th>
                <th>Offset</th>
                <th>Mode</th>
                <th>CTCSS Mode</th>
                <th>CTCSS Code</th>
            </tr>
        </thead>


        @helper.repeatWithIndex(f("memories"), min = 1) { (rbMemeory, index) =>
            <tr>
                <td>
                    @{
                        index + 1
                    }
                </td>
                <td>
                @inputText(rbMemeory("frequency"))
                </td>
                <td>
                @select(rbMemeory("offset"), Offset.options)
                </td>
                <td>
                @select(rbMemeory("mode"), Mode.options)
                </td>
                <td>
                @select(rbMemeory("ctcssMode"), CtcssMode.options)
                </td>
                <td>
                @inputText(rbMemeory("ctcssCode"),
                    Symbol("type") -> "number",
                    Symbol("min") -> 0,
                    Symbol("max") -> 255)
                </td>
            </tr>
        }
    </table>
    @submitButton()

}
