@import views.html.helper.{FieldConstructor, form}
@import views.html.helper._
@import views.html.input.selectOptions
@import net.wa9nnn.rc210.ui.Tabs
@import net.wa9nnn.rc210.data.remotebase._
@(remoteBase: RemoteBase)

@tabbedmain(Tabs.remoteBase) {
    <form action="@routes.RemoteBaseController.save()">
        <table>
            <tr>
                <td>Radio:</td>
                <td>@selectOptions("radio", remoteBase.radio, Radio)</td>
            </tr>
            <tr>
                <td>Yaesu:</td>
                <td>@selectOptions("yaesu", remoteBase.yaesu, Yaesu)</td>
            </tr>
            <tr>
                <td>Prefix:</td>
                <td><input name="prefix" value="@remoteBase.prefix"></td>
            </tr>
        </table>

        <table>
            <thead>
                <tr>
                    <th>Number</th>
                    <th>Frequency</th>
                    <th>Offset</th>
                    <th>Mode</th>
                    <th>CTCSS Mode</th>
                    <th>CTCSS Code</th>
                </tr>
            </thead>
            @for((memory, index) <- remoteBase.memories.zipWithIndex) {
                <tr>
                @defining(remoteBase.memories(index)) { rbMemory =>
                    <td>@{
                        index + 1
                    }</td>
                    <td><input name="frequency" value="@{rbMemory.frequency}"></td>
                    <td>@selectOptions("offset", rbMemory.offset, Offset) </td>
                    <td>@selectOptions("mode", rbMemory.mode, Mode) </td>
                    <td>@selectOptions("ctcssMode", rbMemory.ctcssMode, CtcssMode) </td>
                    <td><input name="ctssCode" value="@{rbMemory.ctssCode}"></td>
                </tr>
            }
            }
        </table>
        @submitButton()

    </form>
}@import net.wa9nnn.rc210.data.remotebase.RemoteBase
