@import net.wa9nnn.rc210.data.field.{SelectOption, SelectOptions}
@import net.wa9nnn.rc210.data.schedules.Schedule
@import views.html.helper._
@import net.wa9nnn.rc210.data.field.SelectEnumerationHelper
@import net.wa9nnn.rc210.data.schedules.DayOfWeek
@import net.wa9nnn.rc210.data.schedules.MonthOfYear
@import net.wa9nnn.rc210.data.field.SelectKeyHelper
@import net.wa9nnn.rc210.key.KeyKind
@(schedule: Schedule, keyKind: KeyKind))

<div class="container">
    @form(action = routes.ScheduleController.save()) {
        <input type="hidden" name="key" value="@schedule.key">
        <table>
            <tbody>
                <tr>
                    <td>Schedule</td>
                    <td>@schedule.key</td>
                </tr>
                <tr>
                    <td>Day of Week</td>
                    <td>@Html(SelectEnumerationHelper(DayOfWeek, schedule.dayOfWeek.toString, "dayOfWeek"))</td>
                </tr>
                <tr>
                    <td>Week In Month</td>
                    <td><input type="range" name="weekInMonth" value="@schedule.weekInMonth"
                    min="0" max="5"
                    ></td>
                </tr>
                <tr>
                    <td>Day of Week</td>
                    <td>@Html(SelectEnumerationHelper(MonthOfYear,  schedule.monthOfYear.toString, "monthOfYear"))</td>
                </tr>
                <tr>
                    <td>Time</td>
                    <td><input type="time" name="localTime" value="@schedule.localTime.getOrElse("")"></td>
                </tr>
                <tr>
                    <td>Macro To Run</td>
                    <td>@Html(SelectKeyHelper( schedule.macroToRun, "macroToRun"))</td>
                </tr>
            </tbody>
        </table>
        <input type="submit" value="save">
        }
</div>