@import net.wa9nnn.rc210.data.field.{SelectOption, SelectOptions}
@import net.wa9nnn.rc210.data.schedules.Schedule
@import net.wa9nnn.rc210.key.KeyKindEnum.KeyKind
@import views.html.helper._
@import net.wa9nnn.rc210.data.field.SelectEnumerationHelper
@import net.wa9nnn.rc210.data.schedules.DayOfWeek
@(schedule: Schedule, keyKind: KeyKind))

<div class="container">
    @form(action = routes.ScheduleController.save()) {
        <table>
            <tbody>
                <tr>
                    <td>Schedule</td>
                    <td>@schedule.fieldKey.key</td>
                </tr>
                <tr>
                    <td>Day of Week</td>
                    <td>@Html(SelectEnumerationHelper(DayOfWeek, schedule.dayOfWeek.toString, "dayOfWeek"))</td>
                </tr>
                <tr>
                    <td>Week In Month</td>
                    <td><input type="range" name="weekInMonth" value="@schedule.weekInMonth"
                    min="0" max="5"
                    ></td>
                </tr>
                <tr>
                    <td>Day of Week</td>
@*                    <td>@fieldSelect(schedule.monthOfYear.ordinal(), "monthOfYear", MonthOfYear.values().toIndexedSeq.map { f => SelectOption(f.ordinal(), f.toString) })</td>*@
                </tr>
                <tr>
                    <td>Time</td>
                    <td><input type="time" name="localTime" value="@schedule.localTime.getOrElse("")"></td>
                </tr>
                <tr>
                    <td>Macro To Run</td>
                    @defining(SelectOptions.selectOptions.macroSelect.options()) { o: Seq[SelectOption] =>
@*                        <td>@fieldSelect(schedule.macroToRun.number, "macro", o)*@
                    </td>
                    }
                </tr>
            </tbody>
        </table>
        <input type="submit" value="save">
        }
</div>