@import views.html.helper._
@import net.wa9nnn.rc210.ui.Tabs
@import net.wa9nnn.rc210.ui.MacroSelect
@import net.wa9nnn.rc210.data.timers.Timer
@(timerForm: Form[Timer])(implicit request: RequestHeader, messagesProvider: MessagesProvider)

@tabbedmain(Tabs.timersTab) {
    @form(routes.TimerEditorController.save()) {
        <input type="hidden" name="key" value="@timerForm("key").value" >

        <table>
            <thead>
                <tr>
                    <th></th>
                    <th>Timer</th>
                    <th>Seconds</th>
                    <th>Macro To Run</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Timer</td>
                    <td>
                        @select(timerForm("timerKey"), MacroSelect.options)
                    </td>
                </tr>
                <tr>
                    <td>
                    @inputText(timerForm("seconds"))
                    </td>
                </tr>
                <tr>
                    <td>Macro</td>
                    <td>
                    @select(timerForm("macroKey"), MacroSelect.options)
                    </td>
                </tr>

            </tbody>
        </table>

        @submitButton()
    }
}
