@import net.wa9nnn.rc210.ui.Tabs

@(userEditDTO: controllers.UserEditDTO)(implicit messages: MessagesProvider)
    @import views.html.helper.form

    @tabbedmain(Tabs.security) {
        @form(routes.UsersController.saveUser()) {
            <input type="hidden" value="@userEditDTO.id" name="id">
            <table class="table table-bordered table-sm w-auto ">
                <tbody>
                    <tr>
                        <td class="text-end">Callsign:</td>
                        <td><input name="callsign" value="@userEditDTO.callsign" class="callsign"></td>
                    </tr>
                    <tr>
                        <td class="text-end">Name:</td>
                        <td><input name="name" value="@userEditDTO.name" ></td>
                    </tr>
                    <tr>
                        <td class="text-end">eMail:</td>
                        <td><input name="email" value="@userEditDTO.email" ></td>
                    </tr>
                    <tr>
                        <td class="text-end">Password:</td>
                        <td><input type="password" name="password" value="_"></td>
                    </tr>
                    <tr>
                        <td class="text-end">Password Again:</td>
                        <td><input type="password" name="passwor2d" value="_"></td>
                    </tr>
                </tbody>
            </table>
            @submitButton()
            <button type="submit" class="btn btn-primary" value="Delete">
                <i class="bi bi-trash3"></i> Delete
            </button>
        }
    }